/*Styles for index.html*/

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin: 0;
    padding: 0;
}

ul.home_properties {
    list-style-type: none;
    position: relative;
    top: 135px;
    margin-right: 10px;
    font-size: smaller;
}

ul.home_properties li {
    align-items: center;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    color:rgb(63, 189, 63);
}

ul.home_properties li.logo {
    background-image: url("gyf_logo.png");
    background-size: 400px;
    display: inline-block;
    width: 400px;
    height: 180px;
    text-indent: -99999px;
    position: relative;
    top: -120px;
    left: -30px;
}

div {
    color: rgb(55, 15, 115);
}
div.start {
    position: relative;
    top: -40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
}
div.city_image_with_text {
    position: relative;
    top: -60px;
    background-image: url(image_city.jpg);
    background-size: 100%;
    padding: 450px;
}
div.paragraph_01 {
    font-size: 20px;
    position:relative;
    top: -150px;
    background-color: rgb(55, 15, 115);
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 60px;
    height: 1000px;
    color: white;
}
div.green_line_01 {
    background-color: rgb(52, 170, 52);
    position: relative;
    top: -830px;
    left: 590px;
    width: 740px;
    height: 8px;
}
div.object_cube_01 {
    background-color: red;
    background-image: url(object_cube.png);
    width: 50px;
    height: 50px;
    background-size: 100%;
    text-indent: -99999999px;
    position: relative;
    top: -1050px;
    left: 590px;
}
div.vision {
    font-size: 30px;
    color: white;
    position: relative;
    top: -980px;
    left: 660px;
}
div.vision_text {
    font-size: 18px;
    color: white;
    position: relative;
    top: -810px;
    left: 850px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

div.green_line_02 {
    background-color: rgb(52, 170, 52);
    position: relative;
    top: -760px;
    left: 590px;
    width: 740px;
    height: 8px;
}
div.object_cube_02 {
    background-color: red;
    background-image: url(object_cube.png);
    width: 50px;
    height: 50px;
    background-size: 100%;
    text-indent: -99999999px;
    position: relative;
    top: -960px;
    left: 590px;
}
div.mission_text {
    font-size: 18px;
    color: white;
    position: relative;
    left: 850px;
    top: -730px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}
div.mission {
    font-size: 30px;
    color: white;
    position: relative;
    top: -870px;
    left: 660px;
}


div.body_02 {
    background-color: white;
    padding: 100px;

}
div.body_03 {
    background-color: rgb(55, 15, 115);
    padding: 100px;
    
}
div.body_04 {
    background-color: rgb(63, 189, 63);
    padding: 100px;

}